<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <table class="table table-boreded table-stripped-columns">
                <thead>
                  <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Designation</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Educational Qualifictaion</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">DOJ</th>
                   


                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  <tr *ngFor="let i of facultyData">
            <td>{{i.name}}</td>
            <td>{{i.department}}</td>
            <td>{{i.designation}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.qualification}}</td>
            <td>{{i.address}}</td>
            <td>{{i.number}}</td>
            <td>{{i.doj}}</td>
            
           
            </tr>


                </tbody>
              </table>


        </div>
    </div>
</div>